/* EnseignantList.css */
.text-xl {
  font-weight: bold !important;
}

.p-inputgroup {
  margin-top: 0.6rem !important;
}

/* Pour les inputs */
.p-inputtext, .p-inputnumber-input {
  font-weight: bold !important;
}

/* Pour le texte dans les checkbox */
.flex.align-items-center .text-lg {
  font-weight: bold !important;
}

/* Espacement entre les champs */
.grid > .col-12 {
  margin-bottom: 1.5rem !important;
}

/* Dernier élément sans marge en bas */
.grid > .col-12:last-child {
  margin-bottom: 0 !important;
}